<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037472218474-ogo1jd4t86gdhfp4al9da85run0a43t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037472218474-ogo1jd4t86gdhfp4al9da85run0a43t7</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Vn8O834-lQywpVaiOyTfNFnrhOiOw40</string>
	<key>GCM_SENDER_ID</key>
	<string>1037472218474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pt-project-4f7ef</string>
	<key>STORAGE_BUCKET</key>
	<string>pt-project-4f7ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037472218474:ios:4a949d4b80e13c58b27913</string>
</dict>
</plist>